.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main .container{
  width: 80%;

}

.main .container .general{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.main .container .general .left_side .account_image{
  width: 40rem;
  margin-bottom: .75rem;
}

.main .container .general .left_side .account_image img{
  width: 100%;
  object-fit: cover;
  border-radius: .25rem;
}

.main .container .general .left_side .account_stats.account_video{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 1rem;
}

.main .container .general .left_side .account_stats.account_video .video{
  width: 18rem;
  height: 10rem;
  border-radius: .25rem;
  background: #ccc;
}

.main .container .general .left_side .account_stats.account_video .stats{
  display: flex;
  justify-content: space-between;
}

.main .container .general .left_side .account_stats.account_video .stats .indicator{
  padding: .5rem 1rem;
  border-radius: .25rem;
  margin-bottom: auto;
  display: flex;
  place-items: center;
  margin-left: .5rem;
  transition: background 300ms;
  cursor: pointer;
}

.main .container .general .left_side .account_stats.account_video .stats .indicator i{
  margin-right: .25rem;
}

.main .container .general .left_side .account_stats.account_video .stats .order_number,
.main .container .general .left_side .account_stats.account_video .stats .reviews{
  background: #db8f16;
}

.main .container .general .left_side .account_stats.account_video .stats .order_number:hover,
.main .container .general .left_side .account_stats.account_video .stats .reviews:hover{
  background: #9e6811;
}

.main .container .general .left_side .account_stats.account_video .stock_status.in_stock{
  background: #31c959;
}

.main .container .general .left_side .account_stats.account_video .stock_status.in_stock:hover{
  background: #27ab4a;
}

.main .container .general .right_side .text_area{
  width: 30rem;
  padding: 3rem;
  background: #080808;
  border-radius: .25rem .25rem 0 0;
}

.main .container .general .right_side .text_area .title{
  margin-bottom: .5rem;
}

.main .container .general .right_side .text_area .order_tag{
  width: 7rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .75rem;
  background: #db8f16;
  font-size: .8rem;
  margin-top: 2rem;
}

.main .container .general .right_side .purchase{
  padding: 1rem 2rem;
  border-radius: 0 0 .25rem .25rem;
  background: #31c959;
  transition: background 300ms;
  cursor: pointer;
}

.main .container .general .right_side .purchase:hover{
  background: #27ab4a;
}