@media only screen and (max-width:1250px){
    .header .container .finder .input input{
        width: 17.5rem !important;
    }
}

@media only screen and (max-width:1050px){
    .header .container{
        width: 90% !important;
    }

    .header .container .finder .input input{
        width: 15rem !important;
    }
}

@media only screen and (max-width:900px){
    .header .container{
        flex-direction: column !important;
    }

    .header{
        padding-top: 5rem;
        margin-bottom: 6rem;
    }

    .header .container .logo{
        justify-content: center;
    }

    .header .container .buttons{
        justify-content: center !important;
    }

    .header .container .finder{
        margin-block: 1rem;
    }

    .header .container .finder .input input{
        width: 30rem !important;
    }
}

@media only screen and (max-width:650px){
    .header .container .finder .input input{
        width: auto !important;
    }

    /*hyr lan bi dk bekle bence de çok sikici. orayı halledecem.  GÖRKEM AB SAD EDİT*/
}




.header{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header .container .logo,
.header .container .logo a{
    display: flex;
    align-items: center;
    width: auto;
}

.header .container .logo img{
    width: 2.25rem;
    margin-right: .75rem;
}

.header .container .logo p{
    font-size: 1.75rem;
    font-weight: 600;
}

.header .container .finder{
    display: flex;
    justify-content: center;
    width: auto;
}

.header .container .finder .input{
    display: flex;
}

.header .container .finder .input input{
    all: unset;
    width: 25rem;
    height: 2.5rem;
    background: #fff;
    border-radius: .5rem 0rem 0rem .5rem;
    padding-inline: .75rem;
    color: #0f0f0f;
}

.header .container .finder .search{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0rem .5rem .5rem 0rem;
    background: #d18c1e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 300ms;
    cursor: pointer;
}

.header .container .finder .search:hover{
    background: #9e6811;
}

.header .container .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

.header .container .buttons .button{
    padding-inline: .75rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .75rem;
    cursor: pointer;
}

.header .container .buttons .button.add,
.header .container .buttons .button.login{
    background: #d18c1e;
    transition: background 300ms;
}

.header .container .buttons .button.add:hover,
.header .container .buttons .button.login:hover{
    background: #9e6811;
}

.header .container .buttons .account a{
    display: flex;
    align-items: center;
}

.header .container .buttons .account a img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .5rem;
}

.header .container .buttons .shop{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #ffffff10;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}



.header .container .buttons .active{
    display: flex;
}

.header .container .buttons .inactive{
    display: none;
}
