body{
    background: #000000;
}

.bg-img { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}


.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
    padding-inline: 10rem;
}

.main .logo-section{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #432f0f80;
    padding-block: 8px;
    border-radius: 4px 4px 0 0;
}

.main .logo-section img{
    width: 28px;
    margin-inline: 12px;
}

.main .logo-section p{
    font-size: 19.2px;
    font-weight: 600;
}

.main .login-form{
    width: 320px;
    height: auto;
    background: #000000bb;
    color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 20px;
    overflow: hidden;
}

.main .login-form .btn-text{
    font-size: 12.8px;
    letter-spacing: .96px;
}

.main .login-form .greeting{
    margin-bottom: 16px;
}

.main .login-form .greeting p{
    font-size: 20.8px;
    font-weight: 600;
}

.main .login-form .inputs{
    margin-bottom: 16px;
}

.main .login-form .inputs .input{
    margin-bottom: 8px;
}

.main .login-form .inputs .input input{
    all: unset;
    width: calc(100% - 28px);
    height: 36px;
    background: #0f0f0f10;
    border: 1.6px solid #0f0f0f30;
    border-radius: 4.8px;
    padding-inline: 12px;
}

.main .login-form .inputs .input p{
    font-size: 14.4px;
    font-weight: 500;
}

.main .login-form .login{
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background: #db8f16;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 300ms;
}

.main .login-form .login:hover{
    background: #db8f16dd;
}

.main .login-form .line{
    width: 100%;
    height: 1.6px;
    background: #0f0f0f10;
    margin-block: 12px;
}

.main .login-form .special-situations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.main .login-form .special-situations a{
    font-size: 12.8px;
    color: #962a2a;
    font-weight: 500;
}

.main .login-form .quick-login-options .login-option{
    width: 100%;
    height: 36px;
    padding-inline: 12px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 300ms;
}

.main .login-form .quick-login-options .login-option i{
    margin-right: 4px;
    font-size: 17.6px;
}

.main .login-form .quick-login-options .steam-login{
    background: #2a475e;
}

.main .login-form .quick-login-options .steam-login:hover{
    background: #2a475edd;
}

.main .login-form .quick-login-options .discord-login{
    background: #7289da;
}

.main .login-form .quick-login-options .discord-login:hover{
    background: #7289dadd;
}