body {
    background: #000000;
}

.bg-img {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
}

.main .login-form {
    width: 22rem;
    height: auto;
    background: #00000080;
    color: #fff;
    border-radius: .25rem;
    padding: 3rem;
    overflow: hidden;
}

.main .login-form .btn-text {
    font-size: .8rem;
}

.main .login-form .greeting {
    margin-bottom: 1.5rem;
}

.main .login-form .greeting p {
    font-size: 1.3rem;
    font-weight: 600;
}

.main .login-form .inputs {
    margin-bottom: 1.5rem;
}

.main .login-form .inputs .input {
    margin-bottom: .5rem;
}

.main .login-form .inputs .input input {
    all: unset;
    width: calc(100% - 1.5rem);
    height: 2.75rem;
    background: #ffffff10;
    border-radius: 0.3rem;
    padding-inline: 0.75rem;
}

.main .login-form .inputs .input p {
    font-size: 0.9rem;
    font-weight: 500;
}

.main .login-form .login {
    width: 100%;
    height: 2.75rem;
    border-radius: .25rem;
    background: #db8f16;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: .5rem;
    transition: background 300ms;
}

.main .login-form .login:hover {
    background: #9e6811;
}

.main .login-form .special-situations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.main .login-form .special-situations a {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
}

.main .login-form .quick-login-options .login-option {
    width: 100%;
    height: 2.75rem;
    padding-inline: .75rem;
    border-radius: .25rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
    cursor: pointer;
    transition: background 300ms;
}

.main .login-form .quick-login-options .login-option i {
    margin-right: .25rem;
    font-size: 1.1rem;
}

.main .login-form .quick-login-options .steam-login {
    background: #2a475e;
}

.main .login-form .quick-login-options .steam-login:hover {
    background: #2a475edd;
}

.main .login-form .quick-login-options .discord-login {
    background: #7289da;
}

.main .login-form .quick-login-options .discord-login:hover {
    background: #7289dadd;
}

@media (max-width: 767px) {
    .main .login-form {
        width: 90%;
        padding: 2rem;
    }

    .main .login-form .greeting p {
        font-size: 1rem;
    }

    .main .login-form .inputs .input input {
        height: 2.25rem;
    }

    .main .login-form .login {
        height: 2.25rem;
    }

    .main .login-form .quick-login-options .login-option {
        height: 2.25rem;
    }

    .main .login-form .special-situations {
        flex-direction: column;
        align-items: center;
    }

    .main .login-form .special-situations a {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 575px) {
    .main .login-form .greeting p {
        font-size: 0.8rem;
    }

    .main .login-form .inputs .input input {
        height: 2rem;
        font-size: 0.8rem;
    }

    .main .login-form .login {
        height: 2rem;
        font-size: 0.8rem;
    }

    .main .login-form .quick-login-options .login-option {
        height: 2rem;
        font-size: 0.8rem;
    }
}