.directions{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 9.5rem;
    margin-bottom: 4rem;
}

.directions .section{
    width: 10rem;
    padding-block: .75rem;
    cursor: pointer;
}

.directions .section.games{
    background: #ffffff10;
}

.directions .section.games.active{
    background: #db8f16ad;
}

.directions .section.pubgm{
    background: linear-gradient(to left, #ffffff10, #ffffff01);
}

.directions .section.pubgm.active{
    background:linear-gradient(to left, #db8f16, #ffffff01) ;
}

.directions .section.valo{
    background: linear-gradient(to right, #ffffff10, #ffffff01);
}

.directions .section.valo.active{
    background: linear-gradient(to right, #db8f16, #ffffff01);
}
