.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .container {
  width: 80%;
  display: grid;
  grid-template-columns: 35% 65%;
  justify-content: space-between;
}

.main .container .account {
  width: 20rem;
  height: 20rem;
}

.main .container .account .general {
  background: #080808;
  padding: 3rem;
}
.main .container .account .general .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .container .account .general .profile #profile-picture {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.main .container .account .general .profile .change-profile-image {
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  background: #d18c1e80;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background 300ms;
}

.main .container .account .general .profile .change-profile-image:hover {
  background: #b2781a80;
}

.main .container .account .general .profile .import-from-the-web {
  margin-bottom: 2rem;
}

.main .container .account .general .account-information {
  font-family: "Source Code Pro", sans-serif;
}

.main .container .there-is-no-decleration,
.main .container .declerations {
  height: auto;
  padding: 3rem;
  background: #080808;
}

.main .container .user-declarations{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}

.main .container .user-declarations.active{
  display: grid;
}

.main .container .there-is-no-decleration.active{
  display: block;
  height: 100%;
}

.main .container .inactive{
  display: none;
}

.main .container .user-declarations .decleration{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.main .container .user-declarations .decleration img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .125rem; 
}

.main .container .there-is-no-decleration {
  text-align: center;
}

.main .container .there-is-no-decleration p a{
  color: #d18c1e;
}

/* ilanlar evet */