.main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .container{
  width: 80%;
}

.main .container .profile_page{
  display: flex;
  justify-content: space-between;
}

.main .container .profile_page .account{
  width: auto;
  height: auto;
  padding: 3rem;
  background: #080808;
}

.main .container .profile_page .account .profile_picture{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.main .container .profile_page .account .profile_picture #account-picture{
    width: 6.5rem;
    border-radius: 50%;
}

.main .container .profile_page .account .profile_picture #frame{
  z-index: 2;
  position: absolute;
  width: 7rem;
}

.main .container .profile_page .account .account_general_information{
  margin-bottom: 2rem;
}

.main .container .profile_page .account .account_general_information .name{
  font-size: 1.1rem;
  color: #db8f16;
  font-weight: 800;
  text-align: center;
}

.main .container .profile_page .account .account_general_information .account_id{
  font-weight: 500;
  text-align: center;
}

.main .container .profile_page .account .directions{
  margin-bottom: 2rem;
}

.main .container .profile_page .account .directions ul li{
  display: flex;
  transition: all 400ms;
  position: relative;
  cursor: pointer;
}

.main .container .profile_page .account .directions ul li.active{
  left: 1rem;
}

.main .container .profile_page .logout{
  display: flex;
  justify-content: center;
}

.main .container .profile_page .logout img{
  transition: opacity 300ms;
  cursor: pointer;
}

.main .container .profile_page .logout:hover img{
  opacity: .8;
}

.main .container .profile_page .content{
  width: 55rem;
  background: #080808;
  padding: 3rem;
}

.main .container .profile_page .content div{
  display: none;
}

.main .container .profile_page .content .active{
  display: unset;
}