.main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .container{
    width: 80%;   
}

.main .container .section{
    width: 100%;
    height: 20rem;
}

.main .container .section .general{
    background: #080808;
    padding: 3rem;
}

.main .container .section .general .profile img{
    width: 7rem;
    height: 7rem;
    border-radius: .125rem;
}